body {
        font-family: "Poppins", sans-serif;
        background: #f4f4f4;
        margin: 0;
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .container {
        width: 350px;
        background: #fff;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }

    #resumePreview {
        width: 600px;
        background: #e9c3c3;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
        transition: 0.3s;
    }

    #resumePreview.professional {
    border: 2px solid #007bff;
    background: #fff7e6; /* <<< change color here */
    padding: 20px;
    border-radius: 10px;
}

    

    input, textarea, select {
        width: 90%;
        padding: 10px;
        margin: 8px 0 18px;
        border-radius: 8px;
        border: 2px solid black;
    }

    #profileImage {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 3px solid #007bff;
        object-fit: cover;
        display: none;
        margin-bottom: 15px;
    }

    label {
    font-weight: 600;
    font-size: 15px;
}


    button {
        width: 100%;
        padding: 12px;
        background: #5786b7;
        color: whitesmoke;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    button:hover { background: #0056b3; }

    .sectionTitle {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        border-bottom: 2px solid #107bf5;
        width: fit-content;
    }

    /* Templates */
    .modern h1 { color: #007bff; }
    .minimal { border-left: 10px solid #000; padding-left: 15px; }
    .minimal h1 { color:#111; }
    .minimal .sectionTitle { border-color:#111; }
    .professional { border: 2px solid #0e75dd; }
    .professional .sectionTitle { background:#007bff; color:#fff; padding:5px 12px; border:none; border-radius:5px; }


    @media print {
        .container { display:none; }
        #resumePreview { width:100%; box-shadow:none; }
    }